body {
  background-color:#5CAAC1 ;
}

h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


#Prévisions {
  background-color: #569db2;
  display: flex;
  text-align: center;
  box-shadow: #000;
  
}

#time {
  justify-content: center;
  position: absolute;
  display: flex;
  bottom: 5px;
  z-index: 9000;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}